.Article-template {
	--shadow-color: #00000029;
	--cardview-width: 310px;
	--cardview-height: 200px;
}

@mixin cardform {
	width: var(--cardview-width);
	height: var(--cardview-height);
	box-shadow: 3px 3px 10px 0 var(--shadow-color);
	border-radius: 20px;
	text-align: justify;
	opacity: 0;
	//position: sticky;
	padding: 30px;
	transition: 0.5s ease-out;
	color: black;
	background: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(7px);
	@content
};

@mixin haederform {
	font-weight: 800;
	font-size: 42px;
	@content
};

@mixin bodyform {
	font-size: 13px;
	margin-top: 20px;
	@content
};

.one[data-onevisible="true"] {
	@include cardform() {
		position: fixed;
		top: 530px;
		//background-color: rgba(240, 191, 162, 0.7)
	}
	@media (max-width: 720px) {
		position: fixed;
		top: 380px;
	}
};
.one[data-onevisible="false"] {
	display: none;
	transition: 0.5s ease-out;
};
.one .haeder {
	@include haederform() {
		color: rgb(165, 97, 70)
	}
};
.one .body {
	@include bodyform()
};


.two[data-twovisible="true"] {
	@include cardform() {
		position: fixed;
		top: 530px;
	}
	@media (max-width: 720px) {
		position: fixed;
		top: 380px;
	}
};
.two[data-twovisible="false"] {
	display: none;
	transition: 0.5s ease-out;
};
.two .haeder {
	@include haederform() {
		color: rgb(80, 80, 80)
	}
};
.two .body {
	@include bodyform()
};


.three[data-threevisible="true"] {
	@include cardform() {
		position: fixed;
		top: 530px;
	}
	@media (max-width: 720px) {
		position: fixed;
		top: 380px;
	}
};
.three[data-threevisible="false"] {
	display: none;
	transition: 0.5s ease-out;
};
.three .haeder {
	@include haederform() {
		color: rgb(117, 117, 117)
	}
};
.three .body {
	@include bodyform()
};

.wrapper {
	display: flex;
	justify-content: space-between;
}

.sync-btns {
	margin: 5px 0 0 0;
	transition: 0.5s ease-out;
	color: rgb(134, 134, 134);
	background: rgba(255, 255, 255, 0.596);
	backdrop-filter: blur(7px);
	width: 41px;
	height: 41px;
	font-size: 12px;
	font-weight: 800;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	&:hover {
		background: #f3f3f3;
		transition: 0.3s;
		filter: brightness(90%);
		cursor: pointer;
	}
}

@media (max-width: 1280px) {
	.Article-template {
		//--cardview-width: 210px;
		//--cardview-height: 200px;

		display: flex;
		justify-content: center;
		.haeder {
			font-weight: 800;
			font-size: 24px;
		}
		.body {
			font-weight: 300;
			font-size: 11px;
			margin-top: 15px;
		}

		.sync-btns {
			margin: 0 0 0 0;
			width: 30px;
			height: 30px;
			font-size: 10px;
			font-weight: 700;
			padding: 0 0 0 0;
		}
	}
	.one {
		margin-top: 0px;
	}
	.two {
		margin-top: 0px;
	}
	.three {
		margin-top: 0px;
	}
}

@media (max-width: 720px) {
	.Article-template {
		--cardview-width: 40vw;
		--cardview-height: 230px;

		.haeder {
			font-weight: 800;
			font-size: 17px;
		}
		.body {
			font-weight: 300;
			font-size: 10px;
			margin-top: 15px;
		}

		.sync-btns {
			margin: 0 0 0 0;
			width: 21px;
			height: 21px;
			font-size: 8px;
			font-weight: 700;
			padding: 0 0 0 0;
		}
	}



	.sync-btns {
		margin: 0 0 0 0;
		width: 5px;
		height: 5px;
		font-size: 8px;
		font-weight: 700;
		padding: 0 0 0 0;
	}
}
