.one {
	text-align: left;
	opacity: 1;
	position: sticky;
	transition: 0.5s ease-out;
}

.two {
	text-align: left;
	opacity: 0;
	position: sticky;
	transition: 0.5s ease-out;
}

.three {
	text-align: left;
	opacity: 0;
	//position: sticky;
	transition: 0.5s ease-out;
}
