.CardNews-template {
	display: flex;
	justify-content: center;
	width: 1000px;
	height: 2000px;
	//background: rgb(199, 19, 19);
}

.CardNews-template .comment {
	color: white;
	display: flex;
	font-size: 175px;
	font-weight: 800;
	opacity: 0;
	padding-top: 250px;
	transition: ease-out;
	position: relative;
}
