.Covid3D-template[data-visible="true"] {
	//width: 300px;
	//height: 1000px;
	//display: flex;
	//justify-content: center;
	//align-items: flex-end;
	//background: rgba(25, 0, 255, 0.575);
	position: fixed;
}

.Covid3D-template[data-visible="false"] {
	display: none;
}


.Covid3D-template .canvas {
	width: 1000px;
	height: 1000px;
	margin-left: 130px;
	//padding-left: 350px;
	//background: rgba(75, 216, 75, 0.575);
}

@media (max-width: 1280px) {
	.Covid3D-template .canvas {
		width: 65vw;
		height: 65vw;
		display: flex;
		justify-content: center;
		margin: 70px 0 0 0;
	}
}

@media (max-width: 530px) {
	.Covid3D-template .canvas {
		display: flex;
		justify-content: center;
		//width: 120vw;
		//height: 120vw;
		//padding: 0 0 370px 70px;
	}
}
